# Python #
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment #
venv/
.env/
*.venv

# Logs e Arquivos Temporários #
*.log
*.tmp
*.bak


# Arquivos do Sistema #
.DS_Store
Thumbs.db

# Configurações do VS Code #
.vscode/
